html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffdfc;
    color: #333;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.title {
    font-size: 3rem;
    color: #db4938;
    margin-bottom: 1rem;
}

img {
    max-width: 90%;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

a {
    display: inline-block;
    margin-top: 2rem;
    color: #db4938;
    text-decoration: none;
    font-weight: bold;
}

    a:hover {
        text-decoration: underline;
    }
